<section class="sidebar">
    <div>
        <div class="sidebar_logo"></div>

        <div class="sidebar_text_field"></div>

        <ul class="sidebar_links">
            <li class="sidebar_link">
                <a [routerLink]="'/voting'">
                    <div class="btn_top">
                        <img class="sidebar-link-image" src='/assets/images/vote-table.svg' alt="voting_image">
                    </div>
                
                    <div class="btn_bottom">
                        <div class="label">
                            <label>VOTING</label>
                        </div>
                    </div>
                </a>
            </li>
            <li class="sidebar_link">
                <a [routerLink]="'/breeds'">
                    <div class="btn_top">
                        <img class="sidebar-link-image" src='/assets/images/pet-breeds.svg' alt="breeds_image">
                    </div>
                
                    <div class="btn_bottom">
                        <div class="label">
                            <label>BREEDS</label>
                        </div>
                    </div>
                </a>
            </li>
            <li class="sidebar_link">
                <a [routerLink]="'/gallery'">
                    <div class="btn_top">
                        <img class="sidebar-link-image" src='/assets/images/images-search.svg' alt="gallery_image">
                    </div>
                
                    <div class="btn_bottom">
                        <div class="label">
                            <label>GALLERY</label>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

